.messages {
  display: grid;
  grid-template-areas: "nav mes";
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: 1fr;
  padding: 10px;
}

.dialogsnav {
  display: grid;
  grid-area: "nav";
}

.dialogs {
  display: grid;
  grid-area: "mes";
}
